@model IEnumerable<MonthlyStatement.Models.FormDepartmentReportDetail>
@using MonthlyStatement.Models

@{
    ViewBag.Title = "FormDepartmentDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Báo cáo bộ môn</h4>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="table-responsive">
                                    <table class="table table-striped" style="border-collapse:unset" id="table-2">

                                        @foreach (var item in Model.Where(c => c.Category.category_of_id == null).ToList())
                                        {
                                            i = i + 1;
                                            int j = 0;
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        @i
                                                    </td>
                                                    <td style="font-weight:bold">
                                                        @item.Category.category_content
                                                    </td>
                                                </tr>
                                            </tbody>
                                            if (Model.Where(c => c.Category.category_of_id == item.Category.category_id).Count() > 0)
                                            {
                                                foreach (var items in Model.Where(c => c.Category.category_of_id == item.category_id).ToList())
                                                {
                                                    j++;
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center">
                                                                @(i).@(j)
                                                            </td>
                                                            <td>
                                                                @items.Category.category_content
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Vui lòng nhập thông tin" disabled>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                            }
                                        }
                                    </table>
                                </div>
                            </form>
                            <form action="#" class="dropzone dz-clickable" id="mydropzone">
                                <div class="dz-default dz-message">
                                    <span>Vui lòng chọn minh chứng</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
        <div class="py-3"></div>
        <input hidden id="nhanthanbandau" name="nhanthanbandau" value="0" />
        <input hidden id="dem" name="dem" value="0" />
        <div id="appenddayne" class="col-12"></div>
        <div style="text-align: center; margin-bottom: 10px" class="mb-2 col-md-6 col-12">
            <a role="button" style="width: 100%" id="themnhanthan" class="btn text-primary border-primary btn-xs">
                <i class="fe fe-plus-circle"> </i> Thêm người phụ thuộc
            </a>
        </div>
        <div style="text-align: center; margin-bottom: 10px;" class="mb-2 col-md-6 col-12">
            <a role="button" style="width: 100%;" id="xoabotnhanthan" class="btn text-danger border-danger btn-xs">
                <i class="fe fe-minus-circle"> </i> Xóa người phụ thuộc
            </a>
        </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    //Thêm nhân thân
    $('#themnhanthan').on('click', function (e) {
        let sott = Number($('#dem').val()) + 1;
        if (sott > 10) {
            alert("10 thôi nhiều d");
        }
        else {
            $('#appenddayne').replaceWith(
                '<div id="grhotennhanthan' + sott + '" class="mb-2 col-12 col-md-4">'
                + '<label style="font-weight:bold;" class="form-label">Họ & Tên nhân thân ' + sott + ' <span class="text-danger">*</span></label>'
                + '<input id="hotennhanthan' + sott + '" name="hotennhanthan' + sott + '" type="text" class="form-control" placeholder="Họ và Tên người phụ thuộc" />'
                + '<p style="font-size: 13px; color:red;" id="hotennhanthan' + sott + 'validation"></p>'
                + '</div>'
                + '<div id="grmoiquanhenhanthan' + sott + '" class="mb-2 col-12 col-md-4">'
                + '<label style="font-weight:bold;" class="form-label"> Mối quan hệ <span class="text-danger">*</span></label>'
                + '<input id="moiquanhenhanthan' + sott + '" name="moiquanhenhanthan' + sott + '" type="text" class="form-control" placeholder="Mối quan hệ với người phụ thuộc" />'
                + '<p style="font-size: 13px; color:red;" id="moiquanhenhanthan' + sott + 'validation"></p>'
                + '</div>'
                + '<div id="grngaysinhnhanthan' + sott + '" class="mb-2 col-12 col-md-4">'
                + '<label style="font-weight:bold;" class="form-label" > Ngày sinh <span class="text-danger">*</span></label>'
                + '<input type="text" class="form-control flatpickr" placeholder="Chọn ngày sinh" id="ngaysinhnhanthan' + sott + '" name="ngaysinhnhanthan' + sott + '" />'
                + '<p style="font-size: 13px; color:red;" id="ngaysinhnhanthan' + sott + 'validation"></p>'
                + '</div>'
                + ' <div id="appenddayne" class="col-12"></div>');

            var elem = document.getElementById('dem');
            elem.value = sott;
        }
    });

    //xóa nhân thân
    $('#xoabotnhanthan').on('click', function (e) {
        let sott = Number($('#dem').val());
        if (sott === 0) {
        }
        else {
            $('#grhotennhanthan' + sott).remove();
            $('#grmoiquanhenhanthan' + sott).remove();
            $('#grngaysinhnhanthan' + sott).remove();

            var elem = document.getElementById('dem');
            elem.value = sott - 1;
        }
    });
</script>
