@model IEnumerable<MonthlyStatement.Models.ReportPeriod>
@{
    int i = 0;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Quản lý kỳ báo cáo</h2>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 ">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_filter">
                                        <label>
                                            Tìm kiếm
                                            <input class="form-control btn-round" type="text" id="Search" aria-label="Search" data-width="200">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Kỳ báo cáo</th>
                                                <th>Trạng thái</th>
                                                <th style="width: 3%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)

                                            {
                                                i = i + 1;

                                                <tr class="Search">
                                                    <td>
                                                        @i
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("FormReports", "ReportPeriods", new {id = item.report_period_id })">@item.report_period_name</a>
                                                    </td>
                                                    <td>
                                                        @if (item.start_date <= DateTime.Now && item.deadline_date >= DateTime.Now)
                                                        {
                                                            <div class="badge badge-success">Đang báo cáo</div>
                                                        }
                                                        else if (item.deadline_date <= DateTime.Now && item.end_date >= DateTime.Now)
                                                        {
                                                            <div class="badge badge-warning">Trễ hạn báo cáo</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="badge badge-danger">Không được báo cáo</div>
                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="form-button-action">
                                                            <a style="width:1px" type="button" data-toggle="tooltip" title="" class="btn btn-icon btn-primary" data-original-title="Sửa" href="@Url.Action("Edit", "ReportPeriods", new { id = item.report_period_id })" target="_blank">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>