@model IEnumerable<MonthlyStatement.Models.ReportYear>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-primary" style="height:100px">
                            <h4 class="text-white" style="font-size:1.75rem">Báo cáo cá nhân</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-12 col-md-6 col-lg-3">
                                    <a class="card card-success" href="@Url.Action("Index","ReportPeriods", new {id = item.report_year_id})">
                                        <div class="card-header">
                                            <h4>Năm @item.year</h4>
                                        </div>
                                        <div class="card-body">
                                            <p>Các kỳ báo cáo năm @item.year</p>r
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

</script>