@model IEnumerable<MonthlyStatement.Models.Faculty>
@using MonthlyStatement.Models

@{
    int i = 0;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h3 class="text-white" style="font-size:1.75rem">Quản lý thống kê báo cáo khoa</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr role="row">
                                        <th>
                                            Tên khoa
                                        </th>
                                        <th>
                                            Số lượng
                                        </th>
                                        <th class="text-center">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)

                                    {
                                        i = i + 1;

                                        <tr>
                                            <td>
                                                Khoa: @item.faculty_name.ToUpper()
                                            </td>
                                            <td>
                                                @item.Profiles.Count()
                                            </td>
                                            <td class="text-center">
                                                <div class="buttons">
                                                    <a class="btn btn-icon btn-primary" data-original-title="Thống kê" href="@Url.Action("Index_Statistical","Statistical", new { id = item.faculty_id })">
                                                        Xem thống kê
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

