@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{
    ViewBag.Title = "Index";
}

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary" style="height:100px">
                            <h4 class="text-white" style="font-size:1.75rem">Quản lý thống kê báo cáo</h4>
                        </div>
                        <div class="card-body">
                            
                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-sm-12 col-md-3">
                                    <select class="form-control form-control-sm">
                                        <option>Chọn khoa</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <select class="form-control form-control-sm">
                                        <option>Chọn giảng viên/nhân viên/bộ môn</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div><div class="col-sm-12 col-md-3">
                                    <input type="month" class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-1">
                                    <button class="btn btn-icon btn-primary">Lọc</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr role="row">
                                            <th class="text-center">STT</th>
                                            <th>
                                                Khoa
                                            </th>
                                            <th>Nhân viên</th>
                                            <th>Giảng viên</th>
                                            <th>Bộ môn</th>
                                            <th>Đã báo cáo</th>
                                            <th>Chưa báo cáo</th>
                                            <th>Báo cáo trễ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="Search">
                                            <th class="text-center">1</th>
                                            <th>
                                                Công nghệ Thông Tin
                                            </th>
                                            <th>23</th>
                                            <th>5</th>
                                            <th>10</th>
                                            <th>
                                                <div class="badge badge-success">31</div>
                                            </th>
                                            <th>
                                                <div class="badge badge-danger">2</div>
                                            </th>
                                            <th>
                                                <div class="badge badge-warning">5</div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // setup
        const data = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Giảng viên',
                data: [15, 20, 25, 40, 45, 50, 55, 60, 65, 70, 80, 100],
                backgroundColor: [
                    'rgba(255, 26, 104, 0.2)',
                ],
                borderWidth: 1
            }, {
                label: 'Bộ môn',
                data: [15, 20, 25, 40, 45, 50, 55, 60, 65, 70, 80, 100],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                ],
            }
            ]
        };

        // config
        const config = {
            type: 'bar',
            data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        // render init block
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
        //chart 2
        // setup
        const data2 = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Báo cáo',
                data: [15, 20, 25, 40, 45, 50, 55, 60, 65, 70, 80, 100],
                backgroundColor:

                    'rgba(0, 0, 0, 0.2)'
                ,
                borderColor:
                    'rgba(0, 0, 0, 1)'
                ,
                borderWidth: 1
            }]
        };

       
        // Instantly assign Chart.js version
        const chartVersion = document.getElementById('chartVersion');
        chartVersion.innerText = Chart.version;
    </script>


<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .chartMenu {
        width: 100vw;
        height: 40px;
      
    }

        .chartMenu p {
            padding: 10px;
            font-size: 20px;
        }

    .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
       
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chartBox {
       width: 77%;
        padding: 20px;
        border-radius: 20px;
       transform:translateX(-12%);
        background: white;
    }
</style>




