

<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="hero">
        <video autoplay loop muted play-inline class="back-video" style="position: fixed; min-height: 100%; min-width: 90%; right: 0; bottom: 0; z-index: -1">
            <source src="~/assets/img/video_Trim.mp4" type="video/mp4">
        </video>
        <div class="content" style="text-align: center">
            <h1 style="font-size: 160px; color: #ffffff; font-weight: 600 ">Báo cáo tháng</h1>
            <a class="main__content-time" id="current-time" style="text-decoration: none; display: inline-block; color: rgb(255, 255, 255); font-size: 24px; top: 20px; padding: 14px 50px"></a>
        </div>
    </div>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script>

    $(document).ready(function () {
        $.ajax({
            url: $('#requestUrl').val() + "Admin/Notification/SendMailAsync",
            processData: false,
            contentType: false,
            dataType: "html",
            type: "GET"
        });
    });

    var curDate = new Date();

    // Ngày hiện tại
    var curDay = curDate.getDate();

    // Tháng hiện tại
    var curMonth = curDate.getMonth() + 1;

    // Năm hiện tại
    var curYear = curDate.getFullYear();

    var curTime = curDate.getHours() + ":" + curDate.getMinutes() + ":" + curDate.getSeconds();

    function getCurrentMonthName(curDate) {
        monthNamelist = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        return monthNamelist[curDate.getMonth()];
    };
    function getCurrentDayName(curDate) {
        monthNamelist = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        return monthNamelist[curDate.getDay()];
    };
    var setMonth = getCurrentMonthName(curDate);
    var current_day = getCurrentDayName(curDate);

    // Gán vào thẻ HTML
    document.getElementById('current-time').innerHTML = curTime + " " + current_day + " ,  " + curDay + "  " + setMonth + " " + curYear;
</script>